$width: 640px;
$height: 460px;

.register-popup {
  display: none;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: $width;
  height: $height;
  background-color: #fff;
  left: calc(50% - #{$width}/2);
  top: calc(50% - #{$height}/2);
  z-index: 15;
}

.title {
  position: absolute;
  top: 20px;
}

.name-input,
.surname-input,
.email-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input {
    width: 200px;
  }
}

.buttons-container {
  display: flex;
  position: absolute;
  padding: 20px;
  bottom: 0;
  right: 0;
  button {
    margin-left: 20px;
  }
}