* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow-y: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.app {
  width: 1200px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 40px auto 0;
}

